:root {
  /* Blues */
  --darkBlue: #00137e;
  --lightBlue: #2FA5CB;

  /* Greens */
  --green: #04af55;
  --greenOne: rgba(4, 175, 85, 0.04);

  /* Greys */
  --secondaryGrey: #f2f4fc;
  --darkGrey: #616C82;

  /* Whites */
  --white: #fff;
}

.card-box__outline--green:hover {
  border-color: var(--green) !important;
  background: linear-gradient(0deg, var(--greenOne) 0%, var(--greenOne) 100%),
    var(--white);
}

.module-box_outline--darkBlue:hover {
  border-color: var(--darkBlue) !important;
  background: linear-gradient(
      0deg,
      var(--secondaryGrey) 0%,
      var(--secondaryGrey) 100%
    ),
    var(--white);
}

.text-area__base:hover, .text-area__base:focus {
  border-color: var(--lightBlue) !important;
}

.text-area__base::placeholder {
  font-family: 'General Sans', sans-serif;
  font-size: 28;
  color: var(--darkGrey)
}