:root {
  /* Blues */
  --darkBlue: #00137e;
  --lightBlue: #2fa5cb;

  /* Greens */
  --green: #04af55;
  --greenOne: rgba(4, 175, 85, 0.04);
  --greenTwo: #cdefdd;

  /* Greys */
  --secondaryGrey: #f2f4fc;
  --secondaryLightGrey: #f2f4fc;
  --darkGrey: #616c82;

  /* Whites */
  --white: #fff;

  /* Blacks */
  --black: #000;
}

.account-dropdown__base:hover {
  background: var(--secondaryLightGrey) !important;
}

.card-box__outline--green:hover {
  border-color: var(--green) !important;
  background: linear-gradient(0deg, var(--greenOne) 0%, var(--greenOne) 100%),
    var(--white);
}

.module-box_outline--darkBlue:hover {
  border-color: var(--darkBlue) !important;
  background: linear-gradient(
      0deg,
      var(--secondaryGrey) 0%,
      var(--secondaryGrey) 100%
    ),
    var(--white);
}

.text-area__base:hover,
.text-area__base:focus {
  border-color: var(--lightBlue) !important;
}

.text-area__base::placeholder {
  color: var(--darkGrey);
}

.configurableList__item--green:hover {
  background: var(--greenTwo) !important;
}

.configurableList__item--green:hover .item--black {
  color: var(--black) !important;
}
